* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: none;
  text-decoration: none;
  font-weight: none;
}
body {
  background-color: var(--bgclaro);
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  opacity: 30%;
}
:root {
  font-size: 60%;
  --amarelo: #f28915;
  --amarelohover: #c96c08;
  --bgclaro: #f8f8f8;
  --bgemedio: #dfdfdf;
  --cinza: #3d3d3d;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-family: "Chango", cursive;
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.015em;
  color: var(--cinza);
}
#home h2 {
  text-align: justify;
}
h3 {
  font-family: "Chango", cursive;
  font-size: 1.5rem;
  line-height: 140%;
  text-align: justify;
  letter-spacing: 0.015em;
  color: var(--amarelo);
}
h4 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 125%;
  text-align: justify;
  letter-spacing: 0.005em;
  color: var(--cinza);
}
h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 125%;
  text-align: justify;
  letter-spacing: 0.005em;
  color: var(--cinza);
}
h5 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  letter-spacing: 0.005em;
  color: var(--cinza);
}
strong {
  color: var(--amarelo);
}

/*  HOME  */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--bgemedio);
}
.imglogo {
  height: 90px;
}
.imgdog {
  height: 240px;
}
a {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: var(--amarelo);
  color: var(--bgclaro);
  border-radius: 25px;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.005em;
}
/*  PETS  */
#pets {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.card {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f8f8;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
  border-radius: 26px;
  width: 100%;

  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.card img {
  border-radius: 26px;
  height: 100px;
  width: 100px;
}
.galeria {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.galeria img {
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 26px;
}
/*  CONTTATO  */
#contato {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;

  margin-bottom: 10px;
}
#contato h2 {
  padding-bottom: 10px;
}
/*  FOOTER  */
footer {
  width: 100%;
  background: var(--amarelo);
  padding: 10px 0;
  color: var(--bgclaro);
  padding-left: 20px;
  box-sizing: border-box;
}
footer h5 {
  color: var(--bgclaro);
}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
@media only screen and (min-width: 650px) {
  .container {
    width: 100%;
    padding-left: 300px;
    box-sizing: border-box;
  }

  #home {
    position: fixed;
    width: 300px;
  }
  .galeria {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  footer h5 {
    padding-left: 300px;
    color: var(--bgclaro);
  }
}
@media only screen and (min-width: 800px) {
  .container {
    padding-left: 400px;
    box-sizing: border-box;
  }

  #home {
    position: fixed;
    width: 400px;
  }
  .galeria {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 110%;
    font-weight: none;
  }
  footer h5 {
    padding-left: 400px;
    color: var(--bgclaro);
  }
}
@media only screen and (min-width: 1000px) {
  :root {
    font-size: 70%;
  }
  .card {
    gap: 30px;
    padding: 20px;
  }
  .galeria {
    gap: 30px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  h4 {
    font-size: 2rem;
  }
  footer h5 {
    color: var(--bgclaro);
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    margin: 0 auto;
  }
}
a:hover {
  background: var(--amarelohover);
}
